.card {
  max-height: 60vh;
  padding: 2em;

  overflow-y: auto;
}

.card > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid #dedede;
  margin: 20px 0;
}
